.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #001514;
}

.App-link {
	color: #61dafb;
}

.table-container {
	flex: 1;
	overflow-y: scroll;
	padding: 20px;
	align-items: center;
}
